# launcher of agent
agent.bat

# test scratch
scratch/
material/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE settings
.idea/
.vscode/
.continue/
.obsidian/

# Logs and databases
*.csv
*.log
*.sqlite3
runs/*
!runs/.gitkeep

# Local .env file
.env