# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE settings
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Local .env file
.env